/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
header,
footer {
  background-color: rgba(100, 167, 11, 0.5);
}
nav {
  justify-self: flex-end;
  gap: 0.5em;
}
nav a {
  padding: 1rem;
  margin: 0.5em 0;
  text-decoration: none;
  display: inline-block;
  background-color: #fff;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545c;
}
nav a:active {
  background-color: black;
}
